body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 28px;
    color: black;
}
p{
    font-size: 18px;
    line-height: 1.5;
}
.highlight-text{
    color: #4AACFB;
}
.button-design{
    background-image: linear-gradient(to bottom left,#4183d7,#81cfe0);
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 25px 0px;
    padding: 20px 35px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px #91DAFD ;
}
.flexible{
    display: flex;
}
.content-center{
   padding: 50px 0px;
}
.card-img{
    width: 100%;
    border-radius: 20px;
}


/*header*/
.header{
    background-color: #4AACFB;
    color: white;
}
/*.header-child:first-of-type{
    width: 25%;
    padding-left: 5%;
}
.header-child:last-of-type{
    width: 35%;
    padding-left: 35%;
}*/
.header h1{
    width: 25%;
    padding-left: 5%;
   font-family: 'Zen Tokyo Zoo', cursive;
}
.header ul{
    width: 35%;
    padding-left: 35%;
}
li{
    list-style-type:none;
    width: 100px;
    display: inline-block;
    padding: 20px 0px;
    margin: 5px 2%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px #b0e0fa;
}
.header li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/*top section */
.top-child{
    width: 50%;
    padding-left: 5%;
    padding-right: 2%;
    justify-content: center;
}
.top-child img{
    width: 100%;
}


/*about section */
.about-section{
    margin: 80px 0;
    background-image: url('images/shapes/blue-frame.jpg');
    background-size: 100% 100%;
}
.about-child{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
    margin-top: 50px;
}
.about-child p{
    display: inline-block;
    margin: 30px 0 ;
}
.about-section img{
    width: 70%;
}

/*recipie section */
.recipie-section{
    margin-bottom: 80px;
}
.recipie-text{
    width: 45%;
    text-align: center;
    margin: auto;
}
.item-card{
    width:28%;
    margin: 30px 2%;
    padding:1%;
    box-shadow: 2px 2px 10px gray;
    border-radius: 20px;
}

/*place section*/
.place-section{
    text-align: center;
    margin: 80px 0;
}
.place-card{
    width:45%;
    margin: 30px 2%;
    padding:1%;
    box-shadow: 2px 2px 10px gray;
    border-radius: 20px;
}

/*bottom section */
.bottom-section{
    background-color: #0B0E17;
    padding: 20px 0px 60px ;
    text-align: center;
}